.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.n-left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;

}

.n-name {
    font-size: 1.3rem;
    font-weight: bold;
}



.n-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 400;

    .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        display: none;


        span {
            width: 100%;
            height: 3px;
            background-color: #111110;
            transform-origin: left;
            transition: all 2s ease;
        }

    }

}

.n-list {
    flex: 10;

    .n-ulist {
        display: flex;
        gap: 2rem;
        text-decoration: none;
        list-style: none;
        margin-right: 4rem;
    }

    .n-llist:hover {
        cursor: pointer;
        color: orange;
    }

}