#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        text-align: center;
    }

    .rectcontact {
        display: flex;
        width: 100%;
        height: 650px;

        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #f3eeeb;
        border-radius: 40px;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);

        .cc-left {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            text-align: center;

            .c-left {

                .c-main {
                    display: flex;

                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    gap: 70px;
                    justify-content: center;

                    .cc-title {

                        font-size: 38px;

                    }

                    .cc-title span {
                        font-size: 38px;
                        color: #f29719;
                    }

                    form {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        input {
                            margin-top: 15px;
                            // width: 500px;
                            width: 80%;
                            height: 60px;
                            padding: 20px;
                            outline: none;
                            border-radius: 20px;
                            background-color: #ffffff;
                        }

                        ::placeholder {
                            color: grey;
                        }

                        input[type=number]::-webkit-outer-spin-button,
                        input[type=number]::-webkit-inner-spin-button {
                            -webkit-appearance: inner-spin-button !important;
                            display: none;

                        }

                        input[type=number]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }



                        .c-btn {

                            margin-top: 50px;

                            padding: 11px 26px 11px 26px;
                            transition: 0.5s;
                            background-size: 200% auto;
                            color: white;
                            border-radius: 40px;
                            display: block;
                            border: 0px;
                            font-weight: 700;
                            width: 70%;
                            box-shadow: 0px 0px 14px -7px #f09819;
                            background-image: linear-gradient(45deg,
                                    #ff512f 0%,
                                    #f09819 51%,
                                    #ff512f 100%);
                            cursor: pointer;
                            user-select: none;
                            -webkit-user-select: none;
                            touch-action: manipulation;
                        }
                    }

                    .btn:hover {
                        background-position: right center;
                        color: #fff;
                        text-decoration: none;
                    }

                    .btn:active {
                        transform: scale(0.95);
                    }




                }

            }



            .popup {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(0, 0, 0, 0.7);
                padding: 20px;
                border-radius: 5px;
                z-index: 1000;
                text-align: center;
            }

            .popup-show {
                display: block;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(230, 126, 46, 0.7);
                padding: 20px;
                border-radius: 10px;
                z-index: 1000;
                text-align: center;
            }


            .popup-content {
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                cursor: pointer;

            }

            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                cursor: pointer;
            }



        }

        .c-right {
            display: flex;
            flex: 1;
            width: 100%;

            .c-img {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;


            }
        }
    }

    @media screen and (max-width: 1023.98px) {

        .rectcontact {

            height: 550px;

            .cc-left {
                .c-left {
                    .c-main {

                        gap: 40px;

                        .cc-title {
                            width: 80%;
                            font-size: 30px;
                            font-weight: 500;

                        }

                        .cc-title span {
                            font-size: 30px;
                            color: #f29719;
                            font-weight: 500;
                        }

                        form {

                            input {
                                margin-top: 15px;
                                // width: 500px;
                                width: 80%;
                                height: 60px;
                                padding: 20px;
                                outline: none;
                                border-radius: 20px;
                                background-color: #ffffff;
                            }

                            ::placeholder {
                                color: grey;
                            }

                            input[type=number]::-webkit-outer-spin-button,
                            input[type=number]::-webkit-inner-spin-button {
                                -webkit-appearance: inner-spin-button !important;
                                display: none;

                            }

                            input[type=number]::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                        }

                    }
                }
            }

            .c-right {
                display: none;

            }


        }

    }

    @media screen and (max-width: 550.98px) {
        .title {

            margin-top: 50px;
            font-size: 29px;
        }

        .rectcontact {


            .cc-left {
                .c-left {
                    .c-main {


                        .cc-title {

                            font-size: 25px;


                        }

                        .cc-title span {
                            font-size: 25px;

                        }

                        form {

                            input {
                                font-size: 17px;

                            }


                        }

                        .c-btn {
                            font-size: 17px;
                        }

                    }
                }
            }




        }

    }

    @media screen and (max-width: 388.98px) {
        .title {
            font-size: 25px;
        }

        .rectcontact {
            height: 400px;

            .cc-left {

                .c-left {

                    .c-main {
                        gap: 20px;

                        .cc-title {

                            font-size: 17px;


                        }

                        .cc-title span {
                            font-size: 20px;

                        }

                        form {

                            input {
                                font-size: 15px;
                                height: 38px;

                            }


                        }

                        .c-btn {
                            font-size: 12px;
                        }

                    }
                }
            }




        }

    }

    @media screen and (max-width: 317.98px) {

        .rectcontact {
            height: 400px;

            .cc-left {

                .c-left {

                    .c-main {
                        gap: 20px;

                        .cc-title {

                            font-size: 15px;


                        }

                        .cc-title span {
                            font-size: 15px;

                        }

                        form {

                            input {
                                font-size: 12px;
                                height: 38px;

                            }


                        }

                        .c-btn {
                            font-size: 10px;
                        }

                    }
                }
            }




        }

    }
}