.aboutteach {
    display: flex;
    gap: 20px;
    padding-top: 30px;
    margin-bottom: 100px;

    .left {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        .bgimg {
            display: flex;
            align-items: center;
            justify-content: center;

            .bggimg2 {
                width: 450px;
                height: 640px;
                border-radius: 20px;
            }
        }

    }

    .right {
        display: flex;
        flex: 1;
        flex-direction: column;

        .titlealex {
            font-family: 'Montserrat';
            padding-top: 25px;
            font-size: 30px;
            font-weight: 500;
            text-align: center;
        }

        .typewr {
            color: #0b0301;
            margin-bottom: 45px;
            font-weight: 600;
            text-align: center;

        }

        .desc {
            display: flex;
            gap: 15px;
            margin-bottom: 50px;
            justify-content: center;
            font-family: 'Montserrat';



            .a-desc {


                font-size: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h2 {
                    font-weight: 500;
                }

                h2 span {

                    color: #de9e45;

                }

                .motiv {

                    padding-top: 50px;
                    font-weight: 400;
                    font-size: 21px;
                    text-align: center;
                    font-style: oblique;
                }

                .main-rect {
                    padding-top: 50px;
                    padding-bottom: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;


                    .rect {
                        width: 200px;
                        height: 55px;
                        margin: 10px;
                        padding: 11px 26px 11px 26px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        border-radius: 10px;
                        box-shadow: 0px 0px 14px -7px #f09819;
                        color: #100e0e;
                        background-color: #eccfb4;

                        .a-title {
                            font-size: 17px;

                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #413d3d;
                        }

                    }
                }
            }

        }
    }


    @media screen and (max-width: 1023px) {

        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        .left {
            .bgimg {

                .bggimg2 {}
            }

        }
    }

    @media screen and (max-width: 800px) {
        .aboutteach {
            margin-bottom: 15px;
            padding-top: 0;
        }
    }

    @media screen and (max-width: 767.98px) {
        .aboutteach {
            margin-bottom: 5px;
            padding-top: 10px;

        }
    }

    @media screen and (max-width: 470.98px) {
        .left {
            .bgimg {
                .bggimg2 {
                    width: 280px;
                    height: 420px;
                    border-radius: 20px;
                }
            }

        }

        .right {
            display: flex;
            flex: 1;
            flex-direction: column;

            .titlealex {
                padding-top: 25px;
                font-size: 25px;

                font-weight: 500;
                text-align: center;
            }

            .typewr {
                color: #0b0301;
                margin-bottom: 40px;


            }

            .desc {

                .a-desc {
                    font-size: 19px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    font-weight: 300;



                    .motiv {
                        padding-top: 10px;
                        font-weight: 300;
                        font-size: 19px;
                        text-align: center;

                    }

                    .main-rect {
                        padding-top: 5px;
                        padding-bottom: 1px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;


                        .rect {
                            width: 120px;
                            height: 70px;
                            margin: 10px;
                            padding: 11px 26px 11px 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            border-radius: 10px;
                            box-shadow: 0px 0px 14px -7px #f09819;
                            color: #100e0e;
                            background-color: #eccfb4;

                            .a-title {
                                font-size: 14px;

                                font-weight: 500;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #413d3d;
                            }

                        }
                    }
                }

            }
        }
    }

}